<div id="mainCoantiner">
    <!--dust particel-->
    <div class="margin-body">
    
    <div>
      <div class="starsec"></div>
      <div class="starthird"></div>
      <div class="starfourth"></div>
      <div class="starfifth"></div>
    </div>
    <!--Dust particle end--->
  
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="wpb_text_column wpb_content_element ">
            <div class="wpb_wrapper">
              <div class="title-h1 text-center"><span><span class="light">planos </span> pro</span></div>
            </div>
          </div>
      </div>
    </div>
    

                         <!-- PRO CIAN-->
    <div class="row">
      <div class="col-sm-3 col-md-3 pricing-column-wrapper">
           <div class="pricing-column">
                <div class="pricing-price-row">
                  <div class="pricing-price-wrapper">
                    <div class="pricing-price">
                      <div class="pricing-cost">$30</div>
                      <div class="time">Mensalmente</div>
                    </div>
                  </div>
                </div>
                <div class="pricing-row-title">
                  <div class="pricing_row_title">PRO CIAN</div>
                </div>
                <figure class="pricing-row"><details>
                    <summary>1 Acessório por mês</summary>
                    <p>itens inclusos: óculos, brincos e piercings </p>   
            </details></figure>
                <figure class="pricing-row strike">5 estampas por mês</figure>
                <figure class="pricing-row strike">Desconto de 20% em cada compra acima de 100$</figure>
                <figure class="pricing-row strike">Frete Grátis em compras acima de 200$</figure>
                <figure class="pricing-row strike">20 Peças de roupa de qualquer categoria, a cada 6 meses</figure>
                <div class="pricing-footer">
                  <div class="gem-button-container gem-button-position-center"><a href="#" class="gem-button gem-green">contratar</a></div>
                </div>
              </div>
      </div>

                        <!--PRO PURPLE-->
      <div class="col-sm-3 col-md-3 pricing-column-wrapper">
         <div class="pricing-column">
                <div class="pricing-price-row">
                  <div class="pricing-price-wrapper">
                    <div class="pricing-price">
                      <div class="pricing-cost">$85</div>
                      <div class="time">Mensalmente</div>
                    </div>
                  </div>
                </div>
                <div class="pricing-row-title">
                  <div class="pricing_row_title">PRO PURPLE</div>
                </div>
                <figure class="pricing-row"><details>
                    <summary> 1 Acessório por mês </summary>
                    <p>itens inclusos: óculos, brincos e piercings</p>
                </details></figure>
                <figure class="pricing-row"><span style="color: #5f727f;">5 estampas por mês</span></figure>
                <figure class="pricing-row"><span style="color: #5f727f;">Desconto de 20% em cada compra acima de 100$</span></figure>
                <figure class="pricing-row strike">Frete Grátis em compras acima de 200$</figure>
                <figure class="pricing-row strike">20 Peças de roupa de qualquer categoria, a cada 6 meses</figure>
                <div class="pricing-footer">
                  <div class="gem-button-container gem-button-position-center"><a class="gem-button gem-purpel">contratar</a></div>
                </div>
              </div>
      </div>

                        <!--PRO PINK-->
      <div class="col-sm-3 col-md-3 pricing-column-wrapper">
        <div class="pricing-column">
                <div class="pricing-price-row">
                  <div class="pricing-price-wrapper">
                    <div class="pricing-price">
                      <div class="pricing-cost">$200</div>
                      <div class="time">Mensalmente</div>
                    </div>
                  </div>
                </div>
                <div class="pricing-row-title">
                  <div class="pricing_row_title">pro PINK</div>
                </div>
                <figure class="pricing-row"><details>
                    <summary> 1 Acessório por mês </summary>
                    <p>itens inclusos: óculos, brincos e piercings</p>
                </details></figure>
                <figure class="pricing-row"><span>5 estampas por mês</span></figure>
                <figure class="pricing-row"><span style="color: #5f727f;">Desconto de 20% em cada compra acima de 100$</span></figure>
                <figure class="pricing-row">Frete Grátis em compras acima de 200$</figure>
                <figure class="pricing-row strike">20 Peças de roupa de qualquer categoria, a cada 6 meses</figure>
                <div class="pricing-footer">
                  <div class="gem-button-container gem-button-position-center">
                    <a class="gem-button gem-orange">contratar</a></div>
                </div>
              </div>
      </div>

                        <!--PRO GOLD-->
      <div class="col-sm-3 col-md-3 pricing-column-wrapper">
        <div class="pricing-column">
                <div class="pricing-price-row">
                  <div class="pricing-price-wrapper">
                    <div class="pricing-price">
                      <div style=" " class="pricing-cost">$600</div>
                      <div class="time" style="display:inline-block;">Anualmente</div>
                    </div>
                  </div>
                </div>
                <div class="pricing-row-title">
                  <div class="pricing_row_title">pro gold</div>
                </div>
                <figure class="pricing-row"><details>
                    <summary> 1 Acessório por mês </summary>
                    <p>itens inclusos: óculos, brincos e piercings</p>
                </details></figure>
                <figure class="pricing-row"><span style="color: #5f727f;">5 estampas por mês</span></figure>
                <figure class="pricing-row"><span style="color: #5f727f;">Desconto de 20% em cada compra acima de 100$</span></figure>
                <figure class="pricing-row">Frete Grátis em compras acima de 200$</figure>
                <figure class="pricing-row">20 Peças de roupa de qualquer categoria, a cada 6 meses</figure>
                <div class="pricing-footer">
                  <div class="gem-button-container gem-button-position-center"><a class="gem-button gem-yellow">contratar</a></div>
                </div>
              </div>
      </div>
    </div>
  
   </div>
  </div>

  <app-footer></app-footer>