@model HomeModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Olá, @Model.Nome </h1>
    <p> Seu e-mail é: @Model.Email</p>
    <p> Seu telefone é: @Model.Telefone</p>
</div>
