
@{
    ViewData["Title"] = "Confirmação";
}


<div class="text-center">

    <h3>Deseja mesmo apagar o contato (Mark)? </h3>

</div>

<br />

<div class="denyaccept">
    <a class="btn btn-success" asp-controller="Contato" asp-action="Apagar"> Sim </a>

    <a class="btn btn-danger" asp-controller="Contato" asp-action="Index"> Não </a>

</div>
