table {
    width: 100%;

}

i.delete {

    color: red;
    margin-left: 10px;
}

i.edit {

    color: rgb(88, 88, 88);
    margin-left: 5px;
}


#pricetext {

    color: green;
    text-decoration: solid;
}

th {

    color: blue;
}