                                                                                  /* BUBBLE PIC CONTENT */

h2 {

    
    text-align: center;
    vertical-align: middle;
    
    
}











body {
    background: #000;
  }
  
  .wrap {
    display: flex;
    align-items: center;
    justify-content:space-around;
    height: 50vh;
  }
  
  .circle {
    background: plum;
    width: 200px;
    height: 200px;
    border-radius: 40% 60% 70% 30% / 40% 50% 60% 50%;
    overflow: hidden;
    animation: morph 3s linear infinite;
  }
  
  .circle img {
    width: 100%;
  }
  
  
  @keyframes morph{
    0%, 100% {
    border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
    }
    34% {
      border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
    }
    67% {
      border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
    }
  }




                                                                                    /* LOGIN DIV CONTENT */





  

                                                                                    .login {
                                                                                        height: 1vh;
                                                                                        margin-bottom: 287px;
                                                                                      }
                                                                                      
                                                                                     
                                                                                      
                                                                                      .login-heading {
                                                                                        font-weight: 300;
                                                                                      }
                                                                                      
                                                                                      .btn-login {
                                                                                        font-size: 0.9rem;
                                                                                        letter-spacing: 0.05rem;
                                                                                        padding: 0.75rem 1rem;
                                                                                      }                                                                                      
