<section>
    <article>
            <header>

                <nav>
                    <h3>INPUT/OUTPUT PROPERTIES</h3>
                    
                </nav>
            </header>
        <app-output-property [valor]="5"
        mudouValor="onMudouValor($event)">
            
        </app-output-property>
    </article>
</section>



























<!-- <section> 

    <article>
        <h3> Interpolation/Interpolação</h3>
                                            Abaixo estarão os exemplos de tipos diferentes de interpolação.
    
        

       
                                            <p> Renderizando string com <strong>INTERPOLAÇÃO:</strong>  </p>  Interpolação feita através de uma variável string ("url").
        
        <p> 5 + 5 é igual a: {{5 + 5}} </p> Interpolação feita através de expressão matemática, onde é possível ver que a interpolação do Angular é capaz de efetuar operações matemáticas 
                                                automaticamente.

        <p>Resultado de 1+1 não é = {{1+1+getValor()}} </p>  Interpolação feita através de valor adquirido de uma FUNÇÃO em typescript ("getValor()"), baseando-se no compononent.ts.
    

        <p>Curso Angular e gosto do curso: {{ cursoAngular && getCurtirCurso() }} </p>  Interpolação feita através de valor booleano.
        
        
        <img src="{{urlIMG}}">  Interpolação feita com arquivo de imagem de outro computador. 
            <br>
        <img [src]="urlIMG">  Interpolação feita com arquivo de imagem de outro computador.
                               Porém, diferente do método usual de interpolação, neste
                                usamos o método de Poperty Binding; note a diferença a partir da src da imagem atribuída. 






    </article>


</section> -->
