

<div class="container-md">
  
  

  
  
  
  
  
  
  
  
  <p>Lista de cursos do portal {{ nomePortal }} </p>

  <ul>
     <li *ngFor="let cursos of cursos">{{cursos}}</li> <!-- Em "let cursos of cursos": "let cursos" = variável; "of cursos" = diretório onde a variável se localiza.
      
                                                            Após a variável e o diretório serem posicionados dentro da diretiva *ngFor, colocamos a variável "cursos"
                                                              dentro de uma interpolação, entre as tags <li></li>.  -->
  </ul>

</div>









 

